{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="{% static '/estilos/style.css' %}" />
</head>
<body>
    <h1 class="meu_h1">Minha página funcionou!!</h1>
    
    <ul>
        {% for produto in produtos %}
        <li>
            <a href="{% url 'teste' produto.id %}">
            <h2>{{produto.nome_produto}}</h2>
            <p>Preço: {{produto.preco}}</p>
            <p>Quantidade: {{produto.quantidade}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>